name: Copy Binaries and Announce Release

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */3 * * 1-3' # Every 3 hours on Mon-Wed

permissions: {}

jobs:
  devnet:
    uses: ./.github/workflows/.check-majority-and-announce.yml
    permissions:
      contents: write # Need to write to announce-tracking branch
      packages: write # Needed for Devnet only. Write to packages when copy images/charts from splice. 
    with:
      environment: DevNet
      info_url: https://docs.dev.global.canton.network.sync.global
    secrets:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      SLACK_WEBHOOK_URL_VALIDATOR_ONBOARDING: ${{ secrets.SLACK_WEBHOOK_URL_VALIDATOR_ONBOARDING }}
      SLACK_WEBHOOK_URL_VALIDATOR_ONBOARDING2: ${{ secrets.SLACK_WEBHOOK_URL_VALIDATOR_ONBOARDING2 }}
      GROUPS_IO_USER: ${{ secrets.GROUPS_IO_USER }}
      GROUPS_IO_PASS: ${{ secrets.GROUPS_IO_PASS }}

  testnet:
    uses: ./.github/workflows/.check-majority-and-announce.yml
    permissions:
      contents: write # Need to write to announce-tracking branch
      packages: write # Give this to repeat the same permissions as reusable workflow
    with:
      environment: TestNet
      info_url: https://docs.test.global.canton.network.sync.global
    secrets:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      SLACK_WEBHOOK_URL_VALIDATOR_ONBOARDING: ${{ secrets.SLACK_WEBHOOK_URL_VALIDATOR_ONBOARDING }}
      SLACK_WEBHOOK_URL_VALIDATOR_ONBOARDING2: ${{ secrets.SLACK_WEBHOOK_URL_VALIDATOR_ONBOARDING2 }}
      GROUPS_IO_USER: ${{ secrets.GROUPS_IO_USER }}
      GROUPS_IO_PASS: ${{ secrets.GROUPS_IO_PASS }}

  mainnet:
    uses: ./.github/workflows/.check-majority-and-announce.yml
    permissions:
      contents: write # Need to write to announce-tracking branch
      packages: write # Give this to repeat the same permissions as reusable workflow
    with:
      environment: MainNet
      info_url: https://docs.global.canton.network.sync.global
    secrets:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      SLACK_WEBHOOK_URL_VALIDATOR_ONBOARDING: ${{ secrets.SLACK_WEBHOOK_URL_VALIDATOR_ONBOARDING }}
      SLACK_WEBHOOK_URL_VALIDATOR_ONBOARDING2: ${{ secrets.SLACK_WEBHOOK_URL_VALIDATOR_ONBOARDING2 }}
      GROUPS_IO_USER: ${{ secrets.GROUPS_IO_USER }}
      GROUPS_IO_PASS: ${{ secrets.GROUPS_IO_PASS }}
